In [16]:
import pandas as pd
df = pd.read_csv("weather_data.csv", parse_dates=["day"])
df.head(3)

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-04          NaN        9.0  Sunny
2 2017-01-05         28.0        NaN   Snow

In [20]:
new_df = df.fillna(0)
new_df.head(3)

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-04          0.0        9.0  Sunny
2 2017-01-05         28.0        0.0   Snow

In [25]:
new_df = df.fillna({
    'temperature' : 0,
    'windspeed':0,
    'event':'no event'
})
new_df.head(3)

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-04          0.0        9.0  Sunny
2 2017-01-05         28.0        0.0   Snow

In [28]:
new_df = df.interpolate()
new_df.head(3)

         day  temperature  windspeed  event
0 2017-01-01         32.0        6.0   Rain
1 2017-01-04         30.0        9.0  Sunny
2 2017-01-05         28.0        8.0   Snow

In [31]:
new_df = df.dropna()
new_df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
7 2017-01-10         34.0        8.0  Cloudy
8 2017-01-11         40.0       12.0   Sunny