In [3]:
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/2/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [5]:
df.shape # 6 rows and 4 column

(6, 4)

In [6]:
rows, columns = df.shape

In [7]:
rows, columns

(6, 4)

In [8]:
df.head()

        day  temperature  windspeed  event
0  1/2/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [9]:
# if you want to print few rows then you process
df.head(3)

        day  temperature  windspeed  event
0  1/2/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [10]:
# If you want to print last five rows then you process
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [11]:
# if you want to print last 1 rows then...
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           32          2  Sunny

In [12]:
df[2:5] # if you want to print 2 to 4 rows then....

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [13]:
# If you want to print everythings then.....
df[:]

        day  temperature  windspeed  event
0  1/2/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [14]:
# If want to print columns then ....
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [23]:
# for printing individual column
df['day'] # or df.day both are same
# df.event

0    1/2/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [24]:
# For print only two columns
df[['event', 'day']]

   event       day
0   Rain  1/2/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [26]:
df['temperature'].max()

35

In [27]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.500000   4.666667
std       3.885872   2.338090
min      24.000000   2.000000
25%      29.000000   2.500000
50%      32.000000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [29]:
df[df.temperature >= 32]

        day  temperature  windspeed  event
0  1/2/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [30]:
df[df.temperature == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [32]:
df[['day', 'temperature']][df.temperature == df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [33]:
df

        day  temperature  windspeed  event
0  1/2/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [34]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [41]:
df.set_index('day', inplace=True)

In [42]:
df

          temperature  windspeed  event
day
1/2/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           32          2  Sunny

In [43]:
df.reset_index(inplace=True)

In [44]:
df

        day  temperature  windspeed  event
0  1/2/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           32          2  Sunny

In [48]:
df.set_index('event', inplace=True)
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7