In [5]:
import pandas as pd
df =pd.read_csv('nyc_weather.csv')
df.head(3)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277

In [6]:
df['Temperature'].max() # Max value of Temperature

50

In [7]:
df['EST'][df['Events'] == 'Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [15]:
df['EST'][df['Events'] == 'Nan']

Series([], Name: EST, dtype: object)

In [16]:
# Avarage WindSpeedMPH
df['WindSpeedMPH'].mean() # Here blanck space not counted

6.892857142857143

In [19]:
# For fill blanc cell with 0 we need fillna() method
df.fillna(0, inplace=True)
df['WindSpeedMPH'].mean()

6.225806451612903